/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-font-size: 13px;
}

.button{
	-fx-background-color: blue;
	-fx-text-fill: white;
}
.button:hover{
	-fx-background-color: yellow;
	-fx-text-fill: black;
}